[run]
branch = True
source = mlsnippet

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    """.*"""
ignore_errors = True
omit =
    tests/*
    mlsnippet/report/frontend/*
    mlsnippet/report/demo.py
    mlsnippet/utils/imported.py
    setup.py
