[run]
branch = True
source = mltoolkit

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    mltoolkit/report/frontend/*
    mltoolkit/report/demo.py
    mltoolkit/utils/imported.py
    setup.py
