backports.tempfile >= 1.0 ; python_version < '3.2'
jinja2 >= 2.9.6
matplotlib >= 2.0.0
numpy >= 1.12.1
pandas >= 0.20.3
pathlib2 >= 2.3.0 ; python_version < '3.5'
six >= 1.11.0

coverage >= 4.3.4
mock >= 2.0.0
Pillow >= 5.0.0
pytest >= 3.0
selenium >= 3.8.0
ipython >= 6.1.0
