@import '~skeleton-css/css/normalize.css';
@import '~skeleton-css/css/skeleton.css';

// basic layouts
#main {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 399px) {
  #main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 400px) {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}


#header {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;

  #title {
    margin: 0;
  }

  #description {
    color: #aaa;
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  .ensure-padding {
    // ensure 2rem padding between title/description and the horizon line
    margin-bottom: 2rem;
  }
}

@import 'elements';
#content {
  @include element_styles();
}
